**/*.log
**/._*
**/.dockerignore
**/.DS_Store
**/.git/
**/.idea/
**/.gitattributes
**/.gitignore
**/.gitmodules
**/Dockerfile*
**/Thumbs.db
**/.cache/
**/.gradle/
**/node_modules/
/vendor/

/storage/framework/public/users/*
/storage/framework/cache/data/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/framework/logs/*
