.modal{
  &.modal-bg{
    .modal-content{
      background-image: url('../../public/images/bg-modal.png');
      background-size: 719px auto;
      border-radius: 8px;
      box-shadow: 0 0 48px 0 rgba(0, 0, 0, 0.3);
      border: none;
      background-repeat: no-repeat;
    }
  }
  p.text-merriweather{
    font-size:0.9rem;
    line-height:2;
    font-weight: 700;
  }
  .rs-line{
    img{
      height: 44px;
    }
  }
  h5{
    font-size: 1rem;
  }
  .login-with-rs{
    img{
      width:40px;
      height: auto;
    }
  }
  .btn-link{
    color: $darkGreen;
    font-weight:600;
    text-decoration: underline;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    &:hover{
      color: darken($darkGreen, 6%)
    }
  }
}


@media (min-width: 992px){
  .modal-lg, .modal-xl {
    max-width: 952px;
  }
}


// hack for white background on mobile

@media (max-width: 991px){
  .bg-white-mobile{
    background:white;
    padding: 2rem;
    border-radius: 10px;
    margin-top: 2rem;
  }
}

.social-buttons{
  //min-width: 220px;
}

#loginModal{
  position: relative;
  height: auto;
  overflow: visible;
}

.social-buttons a{
    text-decoration: none !important;
}

.message-success-reset{
    font-size: small;
}



.exploitations-edit{
    textarea{
        font-size:0.9rem;
        line-height:2;
        font-family: 'Merriweather', serif;
    }
}

.caracteristiques-edit{
    .info{
        font-style: italic;
        font-size:0.9rem;
        .circle-icon{
            font-size: 0.9rem;
        }
    }
}

.caracteristique-search{
    h3{
        font-size:1.3rem;
    }
    .modal-dialog{
        border-radius: 4px;
        box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.3);
        max-width: 708px;
    }
    .icon-checkboxes{

        img{
            width:98px;
            height: auto;
        }

        input[type="checkbox"] {
            display: none;
        }

        label {
            display: block;
            position: relative;
            cursor: pointer;
            img{
                border: 1px solid #fff;
                background-color: #F3F3F3;
            }
        }

        label:before {
            background-color: white;
            color: white;
            content: " ";
            display: block;
            border-radius: 50%;
            border: 1px solid grey;
            position: absolute;
            top: -5px;
            left: -5px;
            width: 25px;
            height: 25px;
            text-align: center;
            line-height: 28px;
            transition-duration: 0.4s;
            transform: scale(0);
        }

        :checked + label img {
            border:1px solid $darkGreen;
        }

        :checked + label img {
            z-index: 0;
        }
    }
    .search-form{
        .form-control{
            background-color: white;
        }
    }
    p{
        font-size:0.9rem;
    }
}

.modal-pratiques{
    max-width: 800px;
    .modal-footer{
        justify-content: left;
    }
    .btn-outline-gray{
        .material-icons{
            vertical-align: bottom;
        }
    }
}

.following-edit{

    .followed-page{

        .delete-page{
            opacity: 0;
        }

        &:hover{
            .delete-page{
                opacity: 1;
            }
            .followed-content{
                background-color: #f2f3f6;
            }
        }

        h4{
            font-weight: bold;
            font-size:1rem;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
        }
        .followed-image{
            object-fit: cover;
            width: 100%;
            height:130px;
        }
        .applause-count{
            font-size: 0.8rem;
            img{
                display: inline-block;
                width:17px;
                height: auto;
                margin-top: -3px;
            }
        }
    }
}
